.show-card {
  margin-bottom: 20px;
}

.show-card,
.card {
}

.card-header {
  background-color: #84e686 !important;
}

.campaignCard {
  width: 70%;
}

.card-text {
  background-color: #b3dfb4 !important;
}

.card-text {
  background-color: white;
}

.buttons {
  display: flex;
  justify-content: center;
}

.btn {
  width: 150px;
  height: 50px;
}

.btnCampaign {
  width: 150px;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background: red;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
  background: #e62222;
  margin-left: 10px;
}

.btnCampaign,
button span {
  transition: 200ms;
}

.btnCampaign .text {
  transform: translateX(35px);
  color: white;
  font-weight: bold;
}

.btnCampaign .icon {
  position: absolute;
  border-left: 1px solid #c41b1b;
  transform: translateX(110px);
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnCampaign svg {
  width: 15px;
  fill: #eee;
}

.btnCampaign:hover {
  background: #ff3636;
}

.btnCampaign:hover .text {
  color: transparent;
}

.btnCampaign:hover .icon {
  width: 150px;
  border-left: none;
  transform: translateX(0);
}

.btnCampaign:focus {
  outline: none;
}

.btnCampaign:active .icon svg {
  transform: scale(0.8);
}
