.reportPage {
  width: 84%;
  height: 100vh;
  margin-left: 210px;
}
.reportHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  margin-left: 217px;
}

.reportNav {
  width: 100% !important;
  height: 30px;

  background-color: slategrey;
}

.btnReport {
  height: 25px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.selectReport {
  height: 25px;
  margin-right: 20px;
  margin-top: 2px;
}
.lblReport {
  margin-right: 5px;
}
